{% extends 'base.html.twig' %}

{% block title %}Home !{% endblock %}
    {% block nav %}{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hello Buddy !</h1>
        <p class="lead">Want to join us ?</p>
    </div>



     
 {{ form(form) }} 



 </div>
 </div>
{% endblock %}


