</body>
    <div class="card">
  <div class="card-header">
    Want to keep in touch
  </div>
  <div class="card-body">
        <form action="newsletter_process.php" method="POST">
            <div class="form-group">
                <input type="email" class="form-control" name="mailNews" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <button type="submit" name="subscribe" class="btn btn-outline-dark">Subcribe</button>
        </form>
    </div>
    </div>
    </div>
    </div>
